<div class="name">Andrew Talty</div>

<ul class="social-media">
  <li><a href="https://twitter.com/untoldstories13"><i class="fa fa-twitter"></i></a></li>
  <li><a href="http://www.linkedin.com/pub/andrew-talty/22/494/270/en"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="https://www.youtube.com/channel/UC7hfdYQ44-KOA3U4RBsIVBg/videos"><i class="fa fa-youtube-play"></i></a></li>
</ul>

<ul class="play-button">
  <li><a href="#" class="tubular-play"><i class="fa fa-play"></i></a></li>
  <li><a href="#" class="tubular-pause"><i class="fa fa-pause"></i></a></li>
  <li><a href="#" class="tubular-mute"><i class="fa fa-volume-off"></i></a></li>
  <li><a href="#" class="tubular-volume-down"><i class="fa fa-volume-down"></i></a></li>
  <li><a href="#" class="tubular-volume-up"><i class="fa fa-volume-up"></i></a></li>
</ul>
