Admin Sign In

<form action="<%= session_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  
  <label>Username</label>
  <input name="user[username]" 
    placeholder="Enter Username" required><br>

  <label>Password</label>
  <input type="password" name="user[password]" 
    placeholder="Enter Password" required><br>

  <input type="submit" value="Log in!" class="btn btn-default">
</form>
