Change Video

<form action="<%= changevideo_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  
  <label>Youtube_id</label>
  <input name="youtube_id" 
    placeholder="Enter youtube_id" required><br>

  <input type="submit" value="Change video" class="btn btn-default">
</form>

<br><br>

<%= button_to 'Log out', session_url, method: :delete %>