/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face { font-family: OpenSans; src: url('/fonts/OpenSans-Regular.ttf'); } 
@font-face { font-family: OpenSans; font-weight: bold; src: url('/fonts/OpenSans-Bold.ttf'); } 

/* --- RESET --- */

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}

/* --- ELEMENTS --- */

html{
  height: 100%;
}

body {
  height: 100%;
  background: rgb(239,238,236);
  color: #333;
  font-family: OpenSans;
  line-height: normal;
  font-size: 16px;
}

#wrapper {

  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #00f;
}

strong {
  font-weight: bold;
}

img {
  display: block;
}

input[type="text"],
button,
textarea {
  margin: 0;
  padding: 0;
  color: inherit;
  vertical-align: baseline;
  font: inherit;
}


.name {
  font-weight: bold;
  font-size: 65px;
  color: white;
  width: 550px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  opacity: 0.5;
}

.social-media {
  text-shadow: 0 0 32px white;
  color: transparent;
  opacity: 0.5;
  li {
    display: inline;
  }
  i {
    margin-right: 15px;
    font-size: 35px;
  }
  /* unvisited link */
  a:link {
    color: white;
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }

  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }

  /* selected link */
  a:active {
    color: grey;
    text-decoration: none;
  }
}

.footer {
  /* fix footer */
  position: fixed;
  bottom: 25%;
  left: 50%;
  margin-left: -90px;
  width: 200px;
  height: 70px;
}

#video-controls {
  text-shadow: 0 0 8px white;
  color: transparent;
  opacity: 0.5;
  position: fixed;
  left: 0;
  bottom: 0;
  li {
    display: inline;
  }
  i {
    margin-right: 15px;
    font-size: 20px;
  }
  /* unvisited link */
  a:link {
    color: white;
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }

  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }

  /* selected link */
  a:active {
    color: grey;
    text-decoration: none;
  }
}
